:root {
  --green: #0a846e;
  --brown: #9e6d52;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 50%;

  margin-top: 3rem;
  margin-bottom: auto;

  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: var(--green);
  color: white;
  width: auto;
  align-self: center;
  text-align: center;
  border-radius: 0.5rem;
  height: 2rem;

  padding-left: 1.2rem;
  padding-right: 1.2rem;
  box-shadow: 0.1rem 0.2rem 5px rgb(92, 90, 90);
  border-style: none;
  font-size: 1.2rem;
}

h1 {
  color: var(--green);
  font-size: 2rem;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
}

h2 {
  font-family: sans-serif;
  font-size: 18px;
}

p {
  font-family: sans-serif;
  font-size: 14px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  height: 100vh;
  width: 100vw;
  text-align: center;
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.322);

  nav {
    display: none;
  }

  #header-image1 {
    background-image: url(assets/growth.png);
    background-position: center;
    background-size: cover;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #header-image2 {
    background-color: var(--brown);
    grid-row: 2;
    grid-column: 1;
  }

  #header-image3 {
    background-color: var(--green);
    grid-row: 2;
    grid-column: 2;
  }

  #menu-icon {
    width: 15%;
    margin-left: 80%;
    margin-top: 2%;
  }

  img {
    display: block;
    width: 50%;

    margin-top: 2rem;
    margin-bottom: 2rem;

    margin-left: auto;
    margin-right: auto;
  }
}

.season {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  grid-row: 2;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 8px;
}

/* Cards */

.plantcard {
  width: 175px;
  height: 220px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.199);

  figure {
    width: 175px;
    height: 160px;
    background-color: rgb(5, 217, 255);
    background-size: 200px;

    img {
      width: 63px;
    }
  }

  .card-info {
    position: relative;
    display: block;

    h3 {
      position: absolute;
      top: 5px;
      left: 10px;

      font-size: 14px;
    }

    h4 {
      position: absolute;
      font-size: 10px;
      top: 5px;
      right: 10px;
      line-height: 14px;
    }

    p {
      position: absolute;
      font-size: 10px;
      color: gray;
      top: 35px;
      left: 10px;
    }

    button {
      position: absolute;

      width: 13px;
      height: 16px;
      font-size: 0;
      top: 35px;
      right: 10px;
    }
  }
}

/* ids for bg images*/

#tomato {
  background-image: url(assets/Tomatoes2.png);
}

/* Tidigare */

.previous {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.circle {
  background-color: var(--green);
  border-radius: 200rem;
  width: 16rem;
  height: 16rem;

  align-self: center;
}

footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10fr 10fr 1fr;

  background-image: url(assets/footerBg.png);
  background-position: center;
  background-size: cover;

  figure {
    padding: 2rem 1rem 4rem 1rem;
  }

  article {
    background-color: rgba(0, 0, 0, 0.726);
    color: white;
    padding: 2rem 1rem 4rem 1rem;

    h2 {
      margin-top: 7rem;
    }
  }

  a {
    background-color: white;
  }
}
