:root {
  --green: #0a846e;
  --brown: #9e6d52;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* wrapper for the layout. Devided into header, content and footer*/

.body {
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  height: auto;
  width: 100vw;

  row-gap: 1.5rem;
}

/* centralized images*/

/* creating whitespace to the content*/

main {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;

  margin-left: 4%;
  margin-right: 4%;
  grid-row: 2;
}

/* the generic button */

button {
  background-color: var(--green);
  color: white;
  width: auto;
  align-self: center;
  text-align: center;
  border-radius: 0.5rem;
  height: 2.5rem;

  padding-left: 1.2rem;
  padding-right: 1.2rem;
  box-shadow: 0.1rem 0.2rem 5px rgb(92, 90, 90);
  border-style: none;
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

h1 {
  color: var(--green);
  font-size: 1.5rem;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  font-weight: 500;
  text-align: center;
}

h2 {
  font-family: sans-serif;
  font-size: 1rem;
  color: #1e1e1e;
  text-align: center;
}

p {
  font-family: sans-serif;
  font-size: .875rem;
}

/*Header */

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.322);

  grid-row: 1;

  nav {
    display: none;
  }

  #header-image1 {
    aspect-ratio: 1/1;
    position: relative;
    background-image: url(assets/growth.png);
    background-position: center;
    background-size: cover;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;

    #burger {
      color: rgb(255, 255, 255);
      font-size: 3.75rem;
      text-shadow: rgba(0, 0, 0, 0.466) 2px 5px 5px;

      position: absolute;
      right: 1.25rem;
      top: .3125rem;
    }

    img {
      position: absolute;
      left: 25%;
      top: 25%;
    }
  }

  #header-image2 {
    aspect-ratio: 1;
    background-color: var(--brown);
    grid-row: 2;
    grid-column: 1;
    text-align: center;
  }

  #header-image3 {
    aspect-ratio: 1;
    background-color: var(--green);
    grid-row: 2;
    grid-column: 2;
    text-align: center;
  }

  #menu-icon {
    width: 15%;
    margin-left: 80%;
    margin-top: 2%;
    box-shadow: .3125rem .3125rem black;
  }

  img {
    width: 50%;

    margin-top: 2rem;
    margin-bottom: 2rem;

    margin-left: auto;
    margin-right: auto;
  }
}

/* info*/

.info {
  display: flex;
  flex-direction: column;

  grid-row: 2;
  text-align: center;

  h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

#line {
  color: var(--green);

  text-align: center;
  border-bottom: var(--green) solid 0.2rem;
  width: 55%;
  align-self: center;

  margin-bottom: 1rem;
}

/*  Gallery */

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  gap: 10px;
}

/* Cards */

.plantcard {
  width: 100%;

  box-shadow: .25rem .25rem .25rem rgba(0, 0, 0, 0.199);
  justify-self: center;
  aspect-ratio: 1.6/2.1;

  figure {
    display: flex;

    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;

    aspect-ratio: 1/1;

    background-repeat: no-repeat;

    background-size: 150%;
    background-position: 0rem, 0rem;
  }

  img {
    max-width: 40%;
    height: auto;
  }

  .card-info {
    position: relative;
    display: block;
    font-family: sans-serif;

    h3 {
      position: absolute;
      top: .375rem;
      left: .625rem;

      font-size: .875rem;
    }

    h4 {
      position: absolute;
      font-size: .625rem;
      top: .375rem;
      right: .625rem;
      line-height: 16..3125rem;
    }

    p {
      position: absolute;
      font-size: 10px;
      color: gray;
      top: 2.1875rem;
      left: .625rem;
    }

    .remove-button {
      display: none;
    }

    .material-symbols-outlined {
      position: absolute;
      color: rgb(161, 2, 2);

      top: 1.875rem;
      right: .3125rem;
    }
  }
}

/* ids for the cards*/

#tomato {
  background-image: url(assets/tomato_small.jpg);
}

#tomato2 {
  background-image: url(assets/Tomatoes2.png);
}

#turnip {
  background-image: url(assets/turnip.png);
}

#crop {
  background-image: url(assets/crop.png);
}

#cucumber {
  background-image: url(assets/cucumber.png);
}

#sugarpeas {
  background-image: url(assets/sugarpeas.png);
}

.circle {
  display: flex;
  background-color: var(--green);
  border-radius: 200rem;
  aspect-ratio: 1/1;
  width: 16rem;
  height: auto;
  justify-self: center;
  flex: 1;

  align-self: center;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;

  img {
    max-width: 40%;
    height: auto;
  }
}

footer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10fr 10fr 1fr;

  background-image: url(assets/footerBg.png);
  background-position: center;
  background-size: cover;
  margin-top: 2rem;
  height: 50rem;

  grid-row: 3;
  text-align: center;

  figure {
    position: relative;
    width: auto;

    height: 25rem;
    padding-top: 6.25rem;

    grid-row: 1;
  }

  article {
    position: relative;
    background-color: rgba(0, 0, 0, 0.726);
    color: white;

    height: 25rem;
    grid-row: 2;

    h2 {
      color: white;
      margin-top: 12.5rem;
      font-size: 1.875rem;
      font-weight: 100;
    }

    .material-symbols-outlined {
    }
  }

  #mail {
    position: absolute;
    right: 1.25rem;
    bottom: 1.25rem;
  }

  #phone-symbol {
    position: relative;
    top: .375rem;
    right: .25rem;
  }

  #mail-symbol {
    position: relative;
    top: .375rem;
    left: .25rem;
  }

  #phone {
    position: absolute;
    left: 1.25rem;
    bottom: 1.25rem;
  }

  a {
    background-color: white;
    padding: 1.25rem;
    grid-row: 3;

    font-family: sans-serif;
    text-decoration: none;
    font-size: .75rem;
    color: black;
  }
}

@media (min-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(236, 231, 231);
  }

  .main {
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    height: auto;
    max-width: 1000px;
    background-color: white;
    border: solid rgb(226, 226, 226);

    row-gap: 2rem;
    margin-bottom: 10rem;
  }

  button {
    height: 3.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  p {
    font-size: .875rem;
  }

  header {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 5fr 5fr 1fr;
    box-shadow: 0rem 0.5rem 0rem 0rem 0.6rem rgba(0, 0, 0, 0.322);
    height: 600px;

    grid-row: 1;

    nav {
      display: flex;
      flex-direction: row;

      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 1;
      grid-column-end: 3;
      height: 60px;
      width: 100%;
      justify-content: center;

      justify-self: center;
      align-self: center;
      gap: 18%;
      background-color: #ffffff;

      a {
        font-size: 1.25rem;
        font-family: "maven pro";

        font-weight: 600;
        text-decoration: none;
        align-self: center;
        color: #055647;
      }
    }

    #header-image1 {
      height: 540px;
      aspect-ratio: auto;
      position: relative;
      background-image: url(assets/growth.png);
      background-position: center;
      background-size: cover;
      grid-row-start: 1;
      grid-row-end: 3;
      grid-column-start: 1;
      grid-column-end: 2;

      #burger {
        display: none;
      }

      img {
        width: 40%;
        position: absolute;
        left: 25%;
        top: 25%;
      }
    }

    #header-image2 {
      height: 270px;
      aspect-ratio: auto;

      grid-column-start: 2;
      grid-column-end: 3;
      grid-row: 1;
    }

    #header-image3 {
      height: 270px;
      aspect-ratio: auto;

      grid-column-start: 2;
      grid-column-end: 3;
      grid-row: 2;
    }

    img {
      width: auto;

      margin-top: 2rem;
      margin-bottom: 2rem;

      margin-left: auto;
      margin-right: auto;
    }
  }

  .info {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;

    grid-row: 2;
    justify-content: flex-start;
    gap: 4rem;
    padding: 0rem;

    h2 {
      text-align: left;
    }

    article {
      order: 2;
      max-width: 50%;
      align-self: center;

      text-align: left;
      padding: 0rem;

      p {
        margin-top: 1rem;
        margin-bottom: 1rem;
      }
    }
  }

  #season {
    button {
      margin-left: 18.75rem;
    }
  }

  #previous {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;

    figure {
      order: 2;
    }

    article {
      order: 1;
    }
  }

  #line {
    color: var(--green);

    text-align: center;
    border-bottom: var(--green) solid 0.2rem;
    width: 35%;
    align-self: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    gap: 1.875rem;

    .card-info {
      position: relative;
      display: block;

      h3 {
        position: absolute;
        top: .375rem;
        left: .625rem;

        font-size: 1.375rem;
      }

      h4 {
        position: absolute;
        font-size: .875rem;
        top: .75rem;
        right: .625rem;
        line-height: 1.0313rem;
      }

      p {
        position: absolute;
        font-size: .875rem;
        color: gray;
        top: 3.4375rem;
        left: .625rem;
      }

      .remove-button {
        display: block;
        position: absolute;
        background-color: rgb(134, 10, 10);
        height: 1.875rem;
        width: 6.125rem;
        padding: 0;
        margin: 0;

        top: 2.8125rem;
        right: .5rem;
      }

      .material-symbols-outlined {
        display: none;

        position: absolute;
        color: rgb(161, 2, 2);

        top: 1.875rem;
        right: .3125rem;
      }
    }
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10fr 1fr;

    background-image: url(assets/footerBg.png);
    background-position: center;
    background-size: cover;
    margin-top: 2rem;
    height: 640px;
    grid-row: 3;
    text-align: center;

    figure {
      position: relative;
      width: auto;

      height: 600px;
      padding-top: 40%;
      grid-row: 1;
      grid-column: 2;
    }

    article {
      position: relative;
      background-color: rgba(0, 0, 0, 0.726);
      color: white;

      height: 600px;
      grid-row: 1;
      grid-column: 1;

      h2 {
        color: white;
        margin-top: 50%;
        font-size: 3.125rem;
        font-weight: 100;
      }

      .material-symbols-outlined {
      }
    }

    #mail {
      position: absolute;
      right: 1.25rem;
      bottom: 1.25rem;
    }

    #phone-symbol {
      position: relative;
      top: .375rem;
      right: .25rem;
    }

    #mail-symbol {
      position: relative;
      top: .375rem;
      left: .25rem;
    }

    #phone {
      position: absolute;
      left: 1.25rem;
      bottom: 1.25rem;
    }

    a {
      background-color: white;
      padding: 1.25rem;
      grid-row: 2;
      grid-column-start: 1;
      grid-column-end: 3;

      font-family: sans-serif;
      text-decoration: none;
      font-size: 1.5625rem;
      color: black;
    }
  }
}
